/.idea/
/.vscode/
/.vagrant/
/node_modules
/public/css
/public/hot
/public/images/spritesheets
/public/js
/public/storage
/public/mix-manifest.json
/resources/build/
/resources/data/.~lock.*.csv#
/storage/*.key
/vendor
/.env
/.phpstorm.meta.php
/.phpunit.result.cache
/_ide_helper.php
/_ide_helper_models.php
/Homestead.json
/Homestead.yaml
npm-debug.log
yarn-error.log
